<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
 
	<context:annotation-config />

	<!-- Composite Commons Configuration -->
	<!-- <bean id="envProperties" class="org.springmodules.commons.configuration.CommonsConfigurationFactoryBean"> -->
	<bean id="envProperties" class="com.swapstech.fxstar.common.util.ConfigProperties">
	    <property name="configurations">
	        <list>
	        	<ref bean="configBean" />
	        </list>
	    </property>
	</bean>
	
	<bean id="configBean" class="com.swapstech.fxstar.common.util.XMLConfigurationProxy" />
	
	<!-- -->
	<!-- Configuration for encryptor, based on environment variables. -->
	<!-- -->
	<!-- In this example, the encryption password will be read from an -->
	<!-- environment variable called "APPKEE" which, once -->
	<!-- the application has been started, could be safely unset. -->
	<!-- -->
	<bean id="environmentVariablesConfiguration"
		class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<property name="algorithm" value="PBEWithMD5AndDES" />
		<property name="passwordSysPropertyName" value="APPKEE" />
	</bean>


	<!-- -->
	<!-- The will be the encryptor used for decrypting configuration values. -->
	<!-- -->
	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config" ref="environmentVariablesConfiguration" />
	</bean>


	<!-- -->
	<!-- The EncryptablePropertyPlaceholderConfigurer will read the -->
	<!-- .properties files and make their values accessible as ${var}. -->
	<!-- -->
	<!-- Our "configurationEncryptor" bean (which implements -->
	<!-- org.jasypt.encryption.StringEncryptor) is set as a constructor arg. -->
	<!-- -->
<!-- Register the i18n  bean -->
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
	    	<list>
				<value>messages</value>
	    	</list>
		</property>
 	 </bean>
<!--     <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
	     </bean>
-->
</beans>